<!-- Define element -->
<polymer-element name="drop-target" attributes="file">
  <template>
    <style>
      #dropTarget {
        height: 200px;
        width: 200px;
        background: #eaeaea;
        display: block;
      }
    </style>
    <div id="dropTarget" on-dragend="{{cancel}}" on-dragover="{{cancel}}" on-drop="{{getFile}}">Drop here</div>
  </template>
  <script>
    Polymer('drop-target',{
      files: {},
      cancel: function(event) {
        event.preventDefault();
        return false;
      },
      getFile: function(event) {
        event.preventDefault();
        this.file = event.dataTransfer.files[0];
        this.$.dropTarget.innerHTML = this.file.name;
        // this.fire('hasFile', {file: files[0]});
        return false;
      }
    });
  </script>
</polymer-element>