<!-- Define element -->
<polymer-element name="upload-form" attributes="file">
  <template>
    <paper-button on-click="{{uploadFile}}" label="Upload" raisedButton></paper-button>
    <h2 id="status">{{status}}</h2>
    <a href="{{responseLink}}">{{responseLink}}</a>
  </template>
  <script>
    Polymer('upload-form',{
      status: "upload a file",
      file: {},
      uploadFile: function() {        
        var file = this.file;
        var formData = new FormData();
        formData.append('file', file, file.name);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/upload', true);
        this.status = 'Loading';
        var self = this;
        xhr.onload = function () {
          if (xhr.status === 200) {
            self.status = 'Loaded';
            self.responseLink = xhr.responseText;
          } else {
            self.status = 'Error: ' + xhr.responseText;
          }
        };
        xhr.send(formData);
      }
    });
  </script>
</polymer-element>