<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="import" href="components/paper-elements/paper-elements.html">
  <link rel="import" href="components/upload-form.html">
</head>
<body>
<!-- 
  <form method="post" enctype='multipart/form-data'>
    <input type="file" name="myfile">
    <input type="submit" value="upload">
    <paper-button label="Upload" raisedButton></paper-button>
  </form> -->

  <upload-form></upload-form>
</body>
</html>